*
{
    margin: 0px;
    padding: 0px;
    background-color: #99B2DD;
}
#barra{
    width: 400px;
    height: auto;
    min-height: 200px;
    background-color: #E9AFA3;
    float: left;
    position: sticky;
    margin-top: 30px;
    

}


main{
    margin-top: 30px;
    float: left;
    background-color: #F9DEC9;
}

#form{
    
    margin: 50px 500px 200px 600px;
    background-color: #F9DEC9;
}
form{

    background-color: #F9DEC9;
}
form>input{

    background-color: #F9DEC9;
}
#send{
    width:75px;
    height: 30px;
     margin: 20px;
     margin-left:100px ;

}

#add{
    width: 50px;
    height:50px;
    background-color: #E9AFA3;
    margin: 75px ;
    margin-left: 180px;
    font-size: 25px;

}
